h1 {
  text-align: right;
  text-decoration: overline;
  text-transform: uppercase;
  padding: 30px;
}

.mar {
  margin-left: 20px;
}

.navbarNavDropdown {
  padding-left: 700px;
}

.font {
  font-size: 200px;
  padding: 25px;
}

.toggler {
  padding-right: 500px;
  color: red;
}

.container-fluid {
  padding: 40px;
}

.fa-2x {
  padding: 50px;
  background-color: #ff6;
}

.py-3 {
  background-color: #00f;
}

.sp {
  padding-top: 60px;
}

.box {
  display: block;
  margin: 0 auto;
}

#myImg {
  float: right;
}
